<div class="jumbotron">
	<p> Veuillez cliquez sur la modification que vous voulez executer : </p>
	<%= link_to 'Produit', produits_path, class: "btn btn-default"%>
	<%= link_to 'Categorie', categories_path, class: "btn btn-default"%>
	<%= link_to 'Vendeur', vendeurs_path, class: "btn btn-default"%>
</div>

 
